.text2{    
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 20px #FF8400;
    color: #444242;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.degra{
    background: #FF7900;
    background: -moz-linear-gradient(cima, #FF7900 0%, #FDFFF5 50%, #FF7900 100%);
    background: -webkit-linear-gradient(cima, #FF7900 0%, #FDFFF5 50%, #FF7900 100%);
    background: linear-gradient(to right, #FF7900 0%, #FDFFF5 50%, #FF7900 100%);
}

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

.slide-rotate-hor-top {
		        animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
}


@keyframes slide-rotate-hor-top {
  0% {
   
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    
            transform: translateY(-150px) rotateX(-90deg);
  }
}

.algo {
  animation: cambiaralgo 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes cambiaralgo {
0% {
      color: #444242
}

100% {
      color: rgb(248, 3, 3);
}
}
